/* Header Customizer Styles */
header#top nav#nav {

    menu.main.custom {
        padding: 0;
        align-self: center;
        display: inline-flex;

        li {
            position: relative;
            display: inline-block;
            padding: 0.125rem 0;
            margin: 0 0.25rem;
            height: auto !important;

            &>a {
                padding: 0 0.5rem;
                outline: 0;
            }
        }

        &[data-editing=true] {
            li[align=true] {
                background-color: #ffaf9940;
            }
        }

        &:not([data-editing=true]) {
            li:not([align=true]) {
                order: 10;
            }
            li[align=true] {
                order: 20;
                &.margined {
                    margin-left: auto;
                }
            }
        }

        &[data-forumdot=true] {

            li > a.tab-has-updates::after {
                content: unicode('f111');
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 0.5em;
                color: red;

                position: absolute;
                top: -3px;
            }

        }

        a.tab-login {
            font-weight: 700;
            color: red;
        }
    }

    menu.main.custom[data-editing=true] li {
        background-color: #ffffff40;
    }

    menu.main.custom:not([data-editing=true]) li[data-right=true] {
        float: right;
    }

    menu:last-child li.float-right {
        #subnav-button-increase {
            padding-right: 0.24rem;
        }

        .resize-disabled {
            pointer-events: none;
            cursor: default;

            i {
                color: #666666;
            }
        }

        &[hide-resize-buttons=true] { display: none; }
    }
}
