/* Smart Alias Styles */

// Settings Interface
textarea#alias-list-container,
textarea#tag-suggestions-container {
    min-height: 40vh;
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden auto;
}

// Tag Info Interface
smart-alias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);

    width: inherit;
    margin: 0.25rem 0;
    overflow: hidden;

    // This is deliberate
    // Resets the font size to page default
    font-family: "Consolas", monospace, monospace;
    font-size: 1em;

    border: 1px solid #666;
    border-radius: 0.25rem;

    smart-tag {
        position: relative;
        padding: 0.075rem 0 0.075rem 1.35rem;
        // line-break: anywhere;

        &[color=error]      { color: lightcoral; }
        &[color=info]       { color: aqua; }
        &[color=warning]    { color: gold; }
        &[color=success]    { color: inherit; }

        &::before {
            content: "";
            display: block;
            line-height: 1;

            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            font-size: 0.7rem;
            color: white;

            position: absolute;
            left: 0.25rem;
            top: 0.25rem;
        }

        &[symbol=loading]::before {
            content: unicode("f1ce"); // fa-circle-notch
            font-weight: 700;
            animation: fa-spin 2s infinite linear;
        }
        &[symbol=error]::before     { content: unicode("f057"); }   // fa-times-circle
        &[symbol=info]::before      { content: unicode("f059"); }   // fa-question-circle
        &[symbol=warning]::before   { content: unicode("f192"); }   // fa-dot-circle
        &[symbol=success]::before   { content: unicode("f058"); }   // fa-check-circle


        // Stupid hack, but here we go
        &.category-3 a:not(:hover) {
            color: #d8c;
        }

        & > span {
            margin-left: 0.5em;

            &.tag-warning {
                color: orange;
                cursor: help;
                font-size: 70%;
            }
        }

    }

    // Grouped by category
    &.grouped smart-tag {
        order: 6;

        &.category-1 { order: 1; }  // artist
        &.category-3 { order: 3; }  // copyright
        &.category-4 { order: 4; }  // character
        &.category-5 { order: 5; }  // species
        // rest of the tags
        &.category-7 { order: 7; }  // meta
        &.category-8 { order: 8; }  // lore
        
    }
}

smart-alias[has-original=true] smart-tag {
    &[action=added]::before { color: #81ec81; }
    &[action=removed]::before { color: #ff8585; }
}

// Limit the height for the editing mode
#c-posts #a-index smart-alias,
#c-favorites #a-index smart-alias,
#page[data-smartalias-compact=true] smart-alias {
    max-height: 6.75rem;
    overflow: hidden scroll;
    @include scrollbars;
}

// Tag counter
smart-tag-counter {
    display: block;
    position: relative;
    pointer-events: none;

    height: 1rem;
    margin-top: -1rem;
    padding: 0 1rem;

    font-family: monospace;
    color: #666;
    text-align: right;
}

button.smart-alias-validate {
    display: block;

    margin: 0 auto;
    padding: 0 1rem;

    background: #ffffff11;
    border: 1px solid #666;
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;

    color: white;
    font-size: 0.75rem;

    &:hover {
        background: #ffffff20;
    }
}

// Bigger Quick-Tags Textarea
textarea#post_tag_string {
    min-height: 6rem;
}

// Fixed font in the tag textareas
div#c-uploads div#a-new textarea.tag-textarea,
form.simple_form div.input textarea.tag-textarea {
    font-family: "Consolas", monospace, monospace;
    font-size: 1em;
}
